.setting__set{
    padding: 18px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setting__set i{
    margin-right: 20px;
    font-size: 20px;
    color:gray
}
.setting__set-column-color{
    opacity: 0.5;
}